.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.connect-button {
  color:#008ae6;
  padding:16px 24px;
  font-size:1.2em;
  font-weight: bold;
  border:2px solid #008ae6;
  border-radius:30px;
  width:10em;
  background-color: transparent;
  margin-right:20%;
  cursor: pointer;
}
.ens-logo{
  width:40%;
}
.topBar {
  height: 48px;
  display: flex;
  padding: 30px 30px;
  margin-top:35px;
}
.home{
  margin-top:30px;
}
.homeLogo{
  width:10%;
}
.dns-text{
  color:#595959;
  font-size:25px;
}
.searchbar{
  width: 60%;
  padding: 20px 100px;
  border-radius: 25px;
  font-size: 30px;
  border:none;
  outline: none;
}
.seach-icon{
  width:50px;
  height:50px;
  position: absolute;
  margin-right: 70%;
}
.footer{
  background-color: #3385ff;
  position: absolute;
    bottom: 0px;
    width: 100%;
  padding-top:70px;
}
.inline {
  display: inline-block;
  padding: 30px;
  width:10%;
}
.footer-twitter{
  width:50px;
  height:50px;
}
.footer-medium{
  width:50px;
  height:50px;
}
.footer-github{
  width:50px;
  height:50px;
}
.footer-telegram{
  width:50px;
  height:50px;
}
a {
  text-decoration: none
}
.warningIcon{
  width:25px;
  height:25px;
}
.footer-logo{
  width:50%;
  height:50%;
}
.coming_soon{
  widows: 200px;
  height:150px;
  position: absolute;
  margin-left: -35px;
  margin-top: -65px;
}
.wait{
  widows: 100px;
  height:100px;
  position: absolute;
  margin-left: 15px;
  margin-top: 5px;
}
.search-section{
  margin-top: 30px;
}
@media (max-width: 1280px){
  .search-section{
    margin-top: 70px;
  }
}
@media (max-width: 880px){
  .inline {
    display: inline-block;
    padding: 30px;
    width:20%;
  }
  .footer-logo{
    width:70%;
    height:70%;
  }
}